<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Game</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">

</head>
<body>
    <header>
        <h1>Pokemon World</h1>
        <nav>
            <ul>
                <li><a href="#game-introduction">Game Introduction</a></li>
                <li><a href="#game-map">Map</a></li>
                <li><a href="#character-introduction">Character Introduction</a></li>
                <li><a href="#signature-pokemon">Represents Pokemon</a></li>
            </ul>
        </nav>
    </header>

    <section id="game-introduction">
        <h2>Game Introduction</h2>
        <img style="width:30%" src="~/Content/image/zhenzuan.jpg" alt="" />
        <p>Pokemon Diamond Pearl is a nintendo ds RPG DEVELOPED by GAME FREAK, They are the first games of the fourth generation of the pokemon series, released on September 28, 2006. The game's expansion pack Pokemon Platinum was released on September 13, 2008, and the remastered Pokemon Brilliant Diamond Bright Pearl was released on November 19, 2021.</p>
        <p>As with the previous Pokemon series, the game follows a young Pokemon trainer who trains Pokemon, fights Pokemon, and thwarts the plans of a rival organization. The game includes 107 new Pokemon, a reclassification of physical and special moves, a return to the second-generation day and night system, and an upgrade from the third-generation Pokemon Tournament to the Pokemon Super Tournament. The two versions are independent of each other, but the story is basically the same, and players can play the game independently and exchange limited Pokemon to complete the Pokedex.</p>
    </section>

    <section id="game-map">
        <h2>Game Map</h2>
        <img src="~/Content/image/zhenzuanditu.jpg" alt="" />
        <p>Game screens</p>
        <img src="~/Content/image/zhenzuanpage.jpg" alt="" />

    </section>

    <section id="character-introduction">
        <h2>Character introduction</h2>
        <article>
            <h3>Minghui, Xiaoguang</h3>
            <img style="width:20%" src="~/Content/image/zhenzuanzhujue.jpg" alt="" />
            <p>Boys and girls to choose from at the beginning of the game. The chosen protagonist will embark on a journey through Sinnoh, and those who are not chosen will appear in the game as Dr. Yamanashi's assistant.</p>

            <h3>Dr. Yamanashi</h3>
            <img style="width:10%" src="~/Content/image/shanliboshi.jpg" alt="ʿ" />
            <p>A childhood sweetheart and rival who embarks on an adventure at the same time as the protagonist. He will challenge the protagonist many times during his journey, and will also work with the protagonist to take risks and progress together.</p>

            <h3>Tame</h3>
            <img style="width:10%" src="~/Content/image/axun.jpg" alt="" />
            <p>After a long journey, return to the Sinnoh region to study the Pokemon characters. He is an authority on "Pokemon Evolution" and is known for it.</p>

            <h3>Team Galaxy</h3>
            <img style="width:20%" src="~/Content/image/yinhedui.jpg" alt="" />
            <p>Team Galaxy doesn't just use the captured Pokemon to do bad things, it's said they're also secretly researching at a facility. The yellow "G" is their logo.</p>

        </article>
    </section>

    <section id="signature-pokemon">
        <h2>Represents Pokemon</h2>
        <div class="scroll-container">
            <article>
                <h3>Turtwig</h3>
                <img style="width:10%" src="~/Content/image/caomiaogui.jpg" alt="" />
            </article>

            <article>
                <h3>Chimchar</h3>
                <img style="width:10%" src="~/Content/image/xiaohuoyanhou.jpg" alt="" />
            </article>

            <article>
                <h3>Piplup</h3>
                <img style="width:10%" src="~/Content/image/bojiaman.jpg" alt="" />
            </article>

            <article>
                <h3>Dialga</h3>
                <img style="width:10%" src="~/Content/image/diyaluka.jpg" alt="" />
            </article>

            <article>
                <h3>Palkia</h3>
                <img style="width:10%" src="~/Content/image/paluqiya.jpg" alt="" />
            </article>

            <article>
                <h3>Arceus</h3>
                <img style="width:10%" src="~/Content/image/aerzhousi.jpg" alt="" />
            </article>

            <article>
                <h3>Giratina</h3>
                <img style="width:10%" src="~/Content/image/qiladina.jpg" alt="" />
            </article>

            <article>
                <h3>Garchomp</h3>
                <img style="width:10%" src="~/Content/image/lieyaolusha.jpg" alt="" />
            </article>

        </div>
    </section>


</body>
</html>
