@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Jinpeng Li<br />
        Hebei University of Technology, Hongqiao District, Tianjin<br />
        <abbr title="Phone">P:</abbr>
        +86 123.456.78900
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:1121387201@qq.com">mailto:1121387201@qq.com</a><br />
    </address>
</main>