<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Game</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">

</head>
<body>
    <header>
        <h1>Pokemon World</h1>
        <nav>
            <ul>
                <li><a href="#game-introduction">Game Introduction</a></li>
                <li><a href="#game-map">Map</a></li>
                <li><a href="#character-introduction">Character Introduction</a></li>
                <li><a href="#signature-pokemon">Represents Pokemon</a></li>
            </ul>
        </nav>
    </header>


    <section id="game-introduction">
        <h2>Game Introduction</h2>
        <img style="width:30%" src="~/Content/image/heibai.jpg" alt="" />
        <p>Pokemon Black & White is a role-playing GAME developed by GAME FREAK, the first game in the fifth generation of the Pokemon series, released on the Nintendo DS on September 18, 2010, with a sequel and expansion, Pokemon Black & White 2, released on June 23, 2012.</p>
        <p>As in the series, the story of Black and White revolves around a young Pokemon trainer traveling through the United States, training Pokemon against other trainers, and foiling a Plasma Squad plot. The game introduces 156 Pokemon, the season system, Roulette and three play. The two versions of the game are separate, but the plot is largely the same, and players can exchange Pokemon to complete the game.</p>
    </section>

    <section id="game-map">
        <h2>Game Map</h2>
        <img src="~/Content/image/heibaiditu.jpg" alt="" />
        <p>Game screens</p>
        <img src="~/Content/image/feiyunshi.jpg" alt="" />

    </section>

    <section id="character-introduction">
        <h2>Character introduction</h2>
        <article>
            <h3>Douye, Douzi</h3>
            <img style="width:20%" src="~/Content/image/heibaizhujue.jpg" alt="" />
            <p>Smart boys, lively girls, the player is up to the player.</p>

            <h3>Black Link</h3>
            <img style="width:5%" src="~/Content/image/heilian.jpg" alt="" />
            <p>A boy who does things rationally, the protagonist's childhood sweetheart. His knowledge of Pokemon is the richest of the childhood friend trio, and he often helps the protagonist in his adventures.</p>

            <h3>Lu</h3>
            <img style="width:5%" src="~/Content/image/bailu.jpg" alt="" />
            <p>A little natural girl. Despite her father's strong disapproval, she insisted on traveling.ࡣ</p>

            <h3>Dr. Yew</h3>
            <img style="width:10%" src="~/Content/image/hongdoushanboshi.jpg" alt="" />
            <p>
                Give the original Pokemon and Pokedex to the protagonist, and ask the protagonist to complete the Pokedex Doctor.
                She is researching Pokemon in the United Nation region, and the protagonist encounters her many times while traveling.
            </p>

            <h3>N</h3>
            <img style="width:10%" src="~/Content/image/n.jpg" alt="" />
            <p>
                A mysterious character that appears in front of the main character.
                In order to confirm whether his thoughts are correct, he has repeatedly challenged the protagonist
            </p>

            <h3>Quartis</h3>
            <img style="width:10%" src="~/Content/image/kuiqisi.jpg" alt="" />
            <p>A member of Team Plasma. Actively promote the ideas of Team Plasma. The player has witnessed his speech at the beginning of his travels.</p>

            <h3>Plasma team under the team</h3>
            <img style="width:15%" src="~/Content/image/denglizituan.jpg" alt="" />
            <p>An organization full of mysteries that justifies itself by stealing Pokemon from people and other bad things under the pretext of "saving Pokemon".</p>

        </article>
    </section>

    <section id="signature-pokemon">
        <h2>Represents Pokemon</h2>
        <div class="scroll-container">
            <article>
                <h3>Snivy</h3>
                <img style="width:10%" src="~/Content/image/tengtengshe.jpg" alt="" />
            </article>

            <article>
                <h3>Tepig</h3>
                <img style="width:10%" src="~/Content/image/nuannuanzhu.jpg" alt="" />
            </article>

            <article>
                <h3>Oshawott</h3>
                <img style="width:10%" src="~/Content/image/shuishuilan.jpg" alt="" />
            </article>

            <article>
                <h3>Reshiram</h3>
                <img style="width:10%" src="~/Content/image/laixilamu.jpg" alt="" />
            </article>

            <article>
                <h3>Zekrom</h3>
                <img style="width:10%" src="~/Content/image/jiekeluomu.jpg" alt="" />
            </article>

            <article>
                <h3>Hydreigon</h3>
                <img style="width:10%" src="~/Content/image/sanshouelong.jpg" alt="" />
            </article>

            <article>
                <h3>Volcarona</h3>
                <img style="width:10%" src="~/Content/image/huoshene.jpg" alt="" />
            </article>

        </div>
    </section>



</body>
</html>
