<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Game</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">


</head>
<body>
    <header>
        <h1>Pokemon World</h1>
        <nav>
            <ul>
                <li><a href="#game-introduction">Game Introduction</a></li>
                <li><a href="#game-map">Map</a></li>
                <li><a href="#character-introduction">Character Introduction</a></li>
                <li><a href="#signature-pokemon">Represents Pokemon</a></li>
            </ul>
        </nav>
    </header>

    <section id="game-introduction">
        <h2>Game Introduction</h2>
        <img style="width:30%" src="~/Content/image/lanbaoshi.jpg" alt="" />
        <p>Pokemon Ruby Sapphire is set in the Hoenn region, which is a certain distance from the Kanto and Johto regions of its predecessor, and its design is based on the Japanese island of Kyushu and Kyushu, but it is rotated 90 degree compared to its prototype, as Junichi Masuda feels that this move will bring better balance to the game. The Hoenn region consists of nine cities, six towns and many attractions, all of which are connected by roads. Junichi Masuda states that the name of the place comes from the kanji "FengYuan", which means that the Hoenn region is a place of "abundant fate", and that it represents the theme of the relationship between people and Pokemon.</p>
        <p>Like the main Pokemon series, the game follows a linear story line, with the main plot taking place in a fixed order. The main character of the game is a teenager or girl who has just moved to Weibai Town, and his father is the owner of a gym in the neighboring city of Orange. At the beginning of the game, the protagonist can choose from Dr. Kodamaki as a beginner Pokemon, and the Doctor's child (with a different gender setting than the protagonist) is also a Pokemon trainer, and the protagonist is also a friend or foe, and will also engage in several battles with the protagonist during the story. The two main objectives of the game are to defeat the owners of the 8 Gyms to become the new champion, and to capture all 386 Pokemon to complete the Pokedex.</p>
    </section>

    <section id="game-map">
        <h2>Game Map</h2>
        <img src="~/Content/image/bluemap.jpg" alt="" />
        <p>Game screens</p>
        <img src="~/Content/image/bluepage.jpg" alt="" />

    </section>

    <section id="character-introduction">
        <h2>Character introduction</h2>
        <article>
            <h3>Xiao Yu and Xiao Yao</h3>
            <img style="width:20%" src="~/Content/image/people2.jpg" alt="" />
            <p>The protagonist who adventures in the Hoenn region as a player is a "Pokemon trainer" who travels with Pokemon and cultivates Pokemon.</p>

            <h3>Dr. Odamaki</h3>
            <img style="width:10%" src="~/Content/image/xiaotianjuan.jpg" alt="ʿ" />
            <p>Pokemon researcher, who lives next to the protagonist's house.</p>

            <h3>Team Lava</h3>
            <img style="width:10%" src="~/Content/image/rongyandui.jpg" alt="" />
            <p>A hostile group in Pokemon Ruby that seeks to expand the land, with the goal of controlling the legendary Pokemon Groudon.</p>

            <h3>Team Ocean</h3>
            <img style="width:10%" src="~/Content/image/haiyangdui.jpg" alt="" />
            <p>A hostile group in Pokemon Sapphire that seeks to expand the seas, with the goal of controlling the legendary Pokemon Kyogre.</p>

        </article>
    </section>

    <section id="signature-pokemon">
        <h2>Represents Pokemon</h2>
        <div class="scroll-container">
            <article>
                <h3>Treecko</h3>
                <img style="width:10%" src="~/Content/image/mushougong.jpg" alt="" />
            </article>

            <article>
                <h3>Torchic</h3>
                <img style="width:10%" src="~/Content/image/huozhiji.jpg" alt="" />
            </article>

            <article>
                <h3>Mudkip</h3>
                <img style="width:10%" src="~/Content/image/shuiyueyu.jpg" alt="" />
            </article>

            <article>
                <h3>Beldum</h3>
                <img style="width:10%" src="~/Content/image/beldum.jpg" alt="" />
            </article>

            <article>
                <h3>Kyogre</h3>
                <img style="width:10%" src="~/Content/image/kyogre.jpg" alt="" />
            </article>

            <article>
                <h3>Groudon</h3>
                <img style="width:10%" src="~/Content/image/guladuo.jpg" alt="" />
            </article>

            <article>
                <h3>Rayquaza</h3>
                <img style="width:10%" src="~/Content/image/liekongzuo.jpg" alt="" />
            </article>

        </div>
    </section>



</body>
</html>

